{% extends "bos.html" %}
{% block baslik %} 404 {% endblock %}
{% load static %}
{% block govde %}
<link rel="stylesheet" href="{% static 'css/renk.css' %}">
<link rel="stylesheet" href="{% static 'css/icrenk.css' %}">

<section class="py-6">
  <div class="container bg-light min-vh-50 py-6 d-flex justify-content-center align-items-center" style="max-width:1920px">
    <div class="row">
      <div class="col-md-12 text-center">
        <div class="lc-block mb-4">
          <div editable="rich">
            <h1 class="fw-bold display-1">404</h1>
          </div>
        </div>
        <div class="lc-block">
          <div editable="rich">
            <p class="h2">Aradığınız sayfa mevcut değil.</p>
          </div>
        </div>
        <div class="lc-block">
          <a class="btn renk yazi" href="/" role="button">Anasayfaya Dön!</a>
        </div><!-- /lc-block -->
      </div><!-- /col -->
    </div>
  </div>
</section>


{% endblock %}




